* {
    margin: 0;
    padding: 0;    
    font-family: 'Lato', sans-serif;

  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    display: block;
  }

.images {
    filter: brightness(50%);
    animation-duration: 1s;
}

.images:hover{
    filter: brightness(100%);
}


